/* backgroundImage.module.css */
.backgroundImage {
  background-size: 100%;
  background-position-x: center;
  background-position-y: var(--background-position-y); /* Use the CSS variable */
  width: 100%;
  background-image: var(--bg-image); /* Use the CSS variable */
  border-radius:23px;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.backgroundImage::before {
  content: '';
  display: block;
  padding-bottom: var(--padding-bottom); /* Use the CSS variable */
}

.backgroundImage:hover {
  background-size: 103%;
/*  border-color:#2fbcfa;*/
}

.imageLink {
  margin-bottom: 2rem;
  display: block;
  padding: 0.2rem;
  background: linear-gradient(354deg, rgba(175,173,173,1) 0%, rgba(255,255,255,1) 60%);
  border-radius: 23px;
}

.imageLink:hover {

}

.imageBg {
  margin-bottom: 2rem;
  display: block;
  padding: 0.2rem;
  background: linear-gradient(354deg, rgba(175,173,173,1) 0%, rgba(255,255,255,1) 60%);
  border-radius:23px;
}

@media only screen and (max-width: 1024px) {
  .imageLink {
    padding: 0.1rem;
  }
  .imageBg {
    padding: 0.1rem;
  }
}

.mask {
  mask-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
  background-color:black;
  border-radius:23px;
}

.maskBg {
  background-color: black;
  border-radius:23px;
}

.imgCarouselBg {
  background-size: 100%;
  transition: all 0.5s;
}

.imgCarouselBg:hover {
  background-size: 103%;
}
