.caseStudyImgContainer {
    position:relative;
    background-color: black;
}

@media only screen and (max-width: 1024px) {
    .caseStudyImgContainer  {
        margin-top: 50px;
    }
  }

.caseStudyImg {
    width: 100%;
    height: auto;
}

.caseStudyImgMW5 {
    background-size: cover;
    width: 100%;
    height: 800px;
    background-image: url('/images/mwo-product-img-case-study1.webp');
}
   
.caseStudyIntro {
    position: absolute;
    top: 30%;
    width: 40%;
    padding: 2rem;
}

@media only screen and (max-width: 1920px) {
    .caseStudyIntro {
        top: 10%;
    }
  }

  @media only screen and (max-width: 1600px) {
    .caseStudyIntro {
        top: 0%;
        /* width: 60%; */
    }
  }

  @media only screen and (max-width: 1500px) {
    .caseStudyIntro {
        width: 60%;
    }
  }

  @media only screen and (max-width: 900px) {
    .caseStudyIntro {
        width: 80%;
    }
  }

  @media only screen and (max-width: 400px) {
    .caseStudyIntro {
       display: none;
    }
  }

.caseStudyIntro h1 {
    color: white;
    font-size: 3em;
    line-height: 1;
    margin: 0;
}

.caseStudyContainer h2 {
  /* line-height: 1.2; */
  letter-spacing: 0.08em;
}

@media only screen and (max-width: 1280px) {
    .caseStudyIntro h1 {
        font-size: 2em;
    }
  }

@media only screen and (max-width: 600px) {
    .caseStudyIntro h1 {
        font-size: 1.5em;
    }
  }

  @media only screen and (max-width: 400px) {
    .caseStudyIntro h1 {
        font-size: 1.15em;
    }
  }

.caseStudyIntro p {
    color: white;
    text-transform: none;
}

@media only screen and (max-width: 700px) {
    .caseStudyIntro p {
        display: none;
    }
  }

@media only screen and (max-width: 1024px) {
    .readBtn {
        display: none;
    }
  }

  .caseStudyContainer {
    max-width: 1024px;
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    /* border-radius: 23px; */
  }


  .caseStudyContainer:last-child {
    border-radius: 0 0 23px 23px;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 1024px) {
    .caseStudyContainer {
        /* margin: 1rem; */
        /* padding:0.5rem; */
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }

  .caseStudyContainer article {
    margin: 0 1rem;
  }

  .caseStudiesBtnContainer {
    margin-top: 3rem;
    padding: 2rem 0;
    border-top: 1px solid rgba(175,173,173,0.5);
    text-align: right;
  }