 /* contact form styles */
.contactForm {
    padding: 0;
    width: 50%;
    margin: auto;
  }

  .contactFormContainer {
    margin-top: 4rem;
  }

  .contactFormContainer h1 {
    margin-bottom: 0;
  }

  @media only screen and (max-width: 1024px) {
    .contactForm { 
        width: 100%;
    }
  }
  
  .contactFormHolder {
    background-color: white;
    border-radius: 23px;
    padding: 1rem;
  }

