.slideWrapper {
  position: relative;
  width: 100%;
  line-height: 0;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s;
}

.imageContainer:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 768px) {
  .imageContainer {
    padding-bottom: 75%; /* Adjust aspect ratio for mobile if needed */
  }
}
