.container {
  max-width: 80rem;
  padding: 0 0.5rem;
  margin: 0rem auto 6rem;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 4rem;
  }
}


.containerHome {
  max-width: 80rem;
  padding: 0 0.5rem;
  margin: 0rem auto 6rem;
}

@media only screen and (max-width: 600px) {
  .containerHome {
    margin-top: 6rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .header {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

.backToHome {
  margin: 3rem 0 0;
  text-align: right;
}

.footer {
  max-width: 80rem;
  padding: 0 0.5rem;
  margin: 0rem auto 6rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 600px) {
  .footer {
    grid-template-columns: 100%;
  }
}

.footerContainer {
  background-color: black;
  background-image:url('../public/trypaud-logo-lg.svg');
  min-height: 400px;
  background-size: 200%;
  background-position: center 55%;
  padding: 1rem;
}

.footerNav {
  display: grid;
  padding: 0;
  margin: 0;
  width: 200px;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 15px;
}

@media only screen and (max-width: 1024px) {
  .footerContainer {
    background-size: 200%;
    background-position: center 55%;
  }
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    background-size: 300%;
    background-position: 20% 55%;
  }
}

.footerMenu {
  list-style-type: none;
  display: inline;
  margin: 0 2rem 0 0;
}

.footerMenu a {
  display: inline-block;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.75rem;
}

.logoHome {
  display: flex;
  width: 180px;
  margin: auto;
}

.logo {
  margin-top: 2rem;
  margin: 2rem auto 0;
/*  opacity: 1;
  transition: 0.5s;
  scale: 1;*/
}

/*.logo:hover {
   opacity: 0.83;
  scale: 1.07;
  transition: 0.5s;
}*/

.activeLink {
  color:#2fbcfa;
}

.activeLink:hover {
  background-color: transparent !important;
  color:#2fbcfa !important;
  cursor: auto !important;
}

.videoReelHolder {
  position: relative;
  padding-bottom: 56.25%;
}

.videoReelContainer {
  position: absolute;
  background-color: black;
  width: 100%;
  transform: translateZ(0);
}

.videoReel {
  margin: 0 auto;
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* @media only screen and (max-width: 1024px) {
  .videoReel {
    margin-top: 50px;
  }
} */
/* 
primary nav btn */
.primaryBtn {
  background-color: #027cb2;
  padding: 1rem 2rem;
  /* transform: translate(50%,-50%); */
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s;
}

@media only screen and (max-width: 1024px) {
  .primaryBtn {
    font-size: 0.85rem;
  }
}

.headerBtn {
  position: absolute;
  bottom: 100px;
  right: 240px;
}

.primaryBtn:hover {
  background-color: #2fbcfa;
  color: white;
}

@media only screen and (max-width: 1400px) {
  .headerBtn {
    right: 110px;
  }
}

@media only screen and (max-width: 1024px) {
  .headerBtn {
    bottom: 50px;
    right: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .headerBtn  {
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .headerBtn  {
   width: 100%;
   bottom: -54px;
   left: 0;
   border-radius: 0;
   /* position: relative; */
   display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .mainContent {
    margin-top: 50px;
  }
}

.collabBtnFooterContainer {
  justify-self: end;
}

@media only screen and (max-width: 600px) {
  .collabBtnFooterContainer {
    justify-self: start;
    margin-top: 2em;
  }
}

.logoBtnFooterContainer {
  display: grid;
  justify-content: center;
  margin-bottom: 2em;
}

.logoBtnFooterContainer img {
  max-width: initial;
}

@media only screen and (max-width: 600px) {
  .logoBtnFooterContainer {
    justify-content: start;
  }
}

.logoBtnFooterContainer a {
  opacity: 1;
}

.logoBtnFooterContainer a:hover {
  opacity: 0.85;
}

.backToBtnContainer {
  margin-top: 3rem;
  padding: 2rem 0;
  border-top: 1px solid rgba(175,173,173,0.5);
  text-align: right;
}