

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #666;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #666;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 0px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.contentImg {
  width: 100% !important;
  height: 100% !important;
}

.mainMenuParent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

@media only screen and (max-width: 1200px) {
  .mainMenuParent {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 600px) {
  .mainMenuParent {
    grid-template-columns: 100%;
  }
}

.mainMenu {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  padding: 2em;
  border: 1px dashed #027cb2;
  margin: 0.5em;
}

.mainMenu:hover {
  background-color: #027cb2;
  color: white;
}

.centerText {
  text-align: center;
}

.blog {
  margin: 0 auto;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .blog {
    width: 100%;
  }
}

.video {
  text-align: center;
  margin: 0 auto;
}

.pdf {
  max-width: 100%;
  border-radius: 1px solid;
}

.strong {
  font-weight: 700;
}

.launch {
  display: inline-block;
  float: right;
  height: 32px;
  width: 32px;
  background-size: 100%;
  background-image: url('../public/launchico.svg');
  color: transparent;
}

.launch:hover {
  color: transparent;
  background-position-y: -32px;
}


