.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #666;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #666;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media only screen and (max-width: 1024px) {
  .headingMd {
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}

.borderCircle {
  border-radius: 0px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.contentImg {
  width: 100% !important;
  height: 100% !important;
}

.mainMenuParent {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .mainMenuParent {
    grid-template-columns: 100%;
  }
}

/* .partnerLogosContainer {
  margin-top: 77%;
} */

.partnerLogosContainer {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.partnerLogosContainer h1 {
  margin-bottom: 0;
}

.partnerLogos {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  align-self: end;
  background-color: white;
  border-radius: 15px;
}

.partnerLogos img {
  margin: 0 auto;
  /* opacity: 0.75; */
}

/* styles/utils.module.css */
@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    /* transform: scale(0.9); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.partnerLogos li {
  opacity: 0; /* Start with hidden logos */
  /* transform: scale(0.9); */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.partnerLogos li.visible {
  /* opacity: 1;
  transform: scale(1); */
  animation: fadeInScaleUp 0.5s ease forwards;
}

.partnerLogos li.visible:nth-child(1) {
  animation-delay: 0.1s;
}
.partnerLogos li.visible:nth-child(2) {
  animation-delay: 0.2s;
}
.partnerLogos li.visible:nth-child(3) {
  animation-delay: 0.3s;
}
.partnerLogos li.visible:nth-child(4) {
  animation-delay: 0.4s;
}
.partnerLogos li.visible:nth-child(5) {
  animation-delay: 0.5s;
}
.partnerLogos li.visible:nth-child(6) {
  animation-delay: 0.6s;
}
.partnerLogos li.visible:nth-child(7) {
  animation-delay: 0.7s;
}
.partnerLogos li.visible:nth-child(8) {
  animation-delay: 0.8s;
}

@media only screen and (max-width: 1280px) {
  .partnerLogos img {
    /* height: 120px; */
  }
}

@media only screen and (max-width: 500px) {
  .partnerLogos img {
    height: 150px;
  }
}

@media only screen and (max-width: 1280px) {
  .partnerLogos {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .partnerLogos {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    /* transform: scale(0.9); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.mainMenu {
  opacity: 0; /* Start with hidden logos */
  /* transform: scale(0.9); */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.mainMenu.visible {
  /* opacity: 1;
  transform: scale(1); */
  animation: fadeInScaleUp 0.5s ease forwards;
}

.mainMenu.visible:nth-child(1) {
  animation-delay: 0.1s;
}
.mainMenu.visible:nth-child(2) {
  animation-delay: 0.2s;
}
.mainMenu.visible:nth-child(3) {
  animation-delay: 0.3s;
}
.mainMenu.visible:nth-child(4) {
  animation-delay: 0.4s;
}
.mainMenu.visible:nth-child(5) {
  animation-delay: 0.5s;
}
.mainMenu.visible:nth-child(6) {
  animation-delay: 0.6s;
}

.mainMenu {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  padding: 2em;
  border: 2px solid #027cb2;
  margin: 0.5em;
  letter-spacing: 0.2em;
  border-radius: 60px;
  transition: all 0.5s;
  position: relative;
}

.mainMenu:hover {
  background-color: #027cb2;
  color: white;
}

.mainMenu:active {
  background-color: #035977;
  border-color: #035977;
  color: white;
}

.mainMenuImg {
  position: absolute;
  top: 13px;
  left: 40px;
}

@media only screen and (max-width: 1024px) {
  .mainMenuImg {
    height: 32px;
    width: 32px;
    left: 20px;
    /* top: 0px; */
  }
}

@media only screen and (max-width: 1024px) {
  .mainMenu {
    padding: 1em;
    font-size: 1rem;
  }
}

.MenuParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.MenuParentChildren {
  border-bottom: 1px solid rgba(175, 173, 173, 0.5);
}

.scrolledNav {
  border-bottom: 1px solid rgba(175, 173, 173, 0.5);
}

@media only screen and (max-width: 1024px) {
  .MenuParent {
    display: none;
  }
}

.Menulink {
  padding: 1rem;
  text-align: center;
  /*  width: 12.5%;*/
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #383838;
}

@media only screen and (max-width: 1200px) {
  .Menulink {
    letter-spacing: 0;
  }
}

.Menulink:hover {
  background-color: #027cb2;
  color: white;
}

.Menulink:active {
  background-color: #035977;
  color: white;
}

.collabMenulink {
  border: 0;
  background-color: #9e0505;
  transition: all 0.5s;
  cursor: pointer;
  line-height: 0;
  padding: 1.25rem 0.75rem;
  color: white;
  border-radius: 30px;
  height: 40px;
  margin-top: 6px;
  margin-right: 6px;
  font-size: 0.7rem;
}

.Menulink.collabMenulink:hover {
  background-color: #ce0505;
}

.Menulink.collabMenulink:active {
  background-color: #7c0505;
}

.Menulink.collabMenulink.activeCollab {
  background-color: #383838;
  cursor: auto;
}

.Menuhome {
  border-radius: 0;
  position: relative;
  display: inline-block;
  /* top: 4px;
  left: 4px; */
  height: 50px;
}

.Menuhome:hover {
  transition: all 0.75s;
  opacity: 0.83;
}

.dropdownMenulink {
  position: relative;
  top: 17px;
  line-height: 1.6;
  background-color: transparent;
}

.dropdownMenulink:hover {
  background-color: transparent;
}

.dropdownMenulink.activeLink:hover {
  color: white;
}

.dropDown {
  position: relative;
  background-color: white;
  padding: 0;
  line-height: 0;
  transition: all 0.3s ease;
}

.dropDown:hover {
  background-color: #027cb2;
  color: white;
}

.dropDown:hover .dropdownMenulink {
  color: white;
}

.dropDown:hover .dropdownMenulink.activeLink:hover {
  color: white;
}

.dropDownList {
  display: none;
  position: absolute;
  width: 160px;
  top: 51px;
  font-size: 0.75em;
  padding: 0.5rem;
  text-transform: uppercase;
  background: white;
  font-weight: bold;
  border: 1px solid rgba(175, 173, 173, 0.5);
  letter-spacing: 0.05rem;
}

.dropDown:hover .dropDownList {
  display: block;
}

.dropDownLink {
  display: block;
  width: 100%;
  padding: 1rem;
  color: #383838;
}

.centerText {
  text-align: center;
}

.blog {
  margin: 0 auto;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .blog {
    width: 100%;
  }
}

.video {
  text-align: center;
  margin: 0 auto;
}

.pdf {
  max-width: 100%;
  border-radius: 1px solid;
}

.strong {
  font-weight: 700;
}

.launch {
  display: inline-block;
  /*  float: right;*/
  height: 24px;
  width: 24px;
  background-size: 100%;
  background-image: url('../public/launchico.svg');
  color: transparent;
  border-radius: 0;
  transition: none;
  position: relative;
  top: 3px;
  text-indent: -3000px;
}

.launch:hover {
  color: transparent;
  background-position-y: -24px;
  transition: none;
}

@media only screen and (max-width: 1024px) {
  .launch {
    display: block;
    height: 20px;
    width: 20px;
    top: 0;
  }
  .launch:hover {
    background-position-y: -20px;
  }
}

@media only screen and (max-width: 400px) {
  .launch {
  }
}

.datePortfolio {
  margin-top: -1.5em;
  font-size: 0.8em;
  color: white;
  background-color: #383838;
  padding: 0 0.3em 0.1em 0.3em;
  border-radius: 5px 0 5px 0;
}

.header3Portfolio {
  margin-block-end: 0;
  margin-block-start: 0;
  text-transform: uppercase;
}

.descriptionPortfolio {
  margin-block-start: 0;
}

.logoHome {
  /*  margin-top: 2rem;
  opacity: 1;*/
  transition: 0.5s;
  scale: 1;
}

.logoHome:hover {
  opacity: 0.83;
  scale: 1.07;
  transition: 0.5s;
}

.logo {
  margin: 1rem auto 0;
}

.galleryMenuConatiner {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.galleryMenuConatiner h1 {
  margin-bottom: 0;
}

.aboutMeContainer {
  max-width: 80rem;
  margin: auto;
  margin-top: 4rem;
}

.hpSectionContainer {
  max-width: 80rem;
  margin: auto;
  margin-top: 4rem;
}

.aboutMe {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .aboutMe {
    display: block;
  }
}

.hpSection {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .hpSection {
    display: block;
  }
}

.aboutMeImgContainer {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url('../public/images/profile-ai-shot.webp');
  background-position: center;
  border-radius: 15px;
}

.aboutMeImgContainer.visible,
.aboutMeDescipt.visible {
  animation: fadeInScaleUp 0.5s ease forwards;
}

.aboutMeImgContainer,
.aboutMeDescipt {
  opacity: 0; /* Start with hidden logos */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.aboutMeImgContainer.visible {
  animation-delay: 0.1s;
}
.aboutMeDescipt.visible {
  animation-delay: 0.2s;
}

@media only screen and (max-width: 600px) {
  .aboutMeImgContainer {
    width: 100%;
  }
}

.hpSectionImgContainer {
  display: block;
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url('../public/images/design-process-model.svg');
  background-position: center;
  border-radius: 15px;
}

.hpSectionImgContainer:hover {
  /* background-size: 125%; */
}

@media only screen and (max-width: 600px) {
  .hpSectionImgContainer {
    width: 100%;
  }
}

.aboutMeContainer h1 {
  margin-bottom: 0;
}

.hpSectionContainer h1 {
  margin-bottom: 0;
}

.hpSectionDescipt {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .hpSectionDescipt {
    width: 100%;
  }
}

.aboutMeDescipt {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .aboutMeDescipt {
    width: 100%;
  }
}

.aboutMeSummary,
.hpSectionSummary {
  font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
  .aboutMeSummary {
    font-size: 1em;
    letter-spacing: 0em;
  }
}

@media only screen and (max-width: 900px) {
  .hpSectionSummary {
    font-size: 1em;
    letter-spacing: 0em;
  }
}

.caseStudiesContainer {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.caseStudiesContainer h1 {
  margin-bottom: 0;
}

.caseStudy.visible {
  /* opacity: 1;
  transform: scale(1); */
  animation: fadeInScaleUp 0.5s ease forwards;
}

.caseStudy {
  opacity: 0; /* Start with hidden logos */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.caseStudy1.visible {
  animation-delay: 0.1s;
}
.caseStudy2.visible {
  animation-delay: 0.2s;
}
.caseStudy3.visible {
  animation-delay: 0.3s;
}
.caseStudy4.visible {
  animation-delay: 0.4s;
}

.caseStudies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  row-gap: 1rem;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .caseStudies {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
  }
}

.caseStudy {
  display: block;
  padding: 1rem;
  border-radius: 15px;
  height: 400px;
  background-size: 140%;
  background-position: top center;
  transition: all ease 0.3s;
}

@media only screen and (max-width: 900px) {
  .caseStudy {
    height: 260px;
    background-size: 145%;
  }
}

.caseStudy:hover {
  background-size: 145%;
  /* transition: all ease 0.3s; */
}

.caseStudy1 {
  background-image: url('/images/case-studies/mwo-product-img-sm-case-study1.webp');
}

.caseStudy2 {
  background-image: url('/images/case-studies/mechcon-img-sm-case-study2.webp');
}

.caseStudy3 {
  background-image: url('/images/case-studies/mw5-img-sm-case-study3.webp');
}

.caseStudy4 {
  background-image: url('/images/case-studies/clans-img-sm-case-study4.webp');
}

.caseStudies h3 {
  margin-top: 0;
  color: white;
}

.backToBtn {
  display: inline-block;
}

.articleImg {
  width: 100%;
  height: auto;
}

.articleSection p {
  font-size: 1.2em;
  width: 60%;
}

@media only screen and (max-width: 1280px) {
  .articleSection p {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .articleSection p {
    font-size: 1em;
    width: 100%;
  }
}
