

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #666;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: #666;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.15em; 
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}


@media only screen and (max-width: 1024px) {
 .headingMd {
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }
}


.borderCircle {
  border-radius: 0px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.contentImg {
  width: 100% !important;
  height: 100% !important;
}

.mainMenuParent {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .mainMenuParent {
    grid-template-columns: 100%;
  }
}

/* .partnerLogosContainer {
  margin-top: 77%;
} */

.partnerLogosContainer {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.partnerLogosContainer h1 {
  margin-bottom: 0;
}

.partnerLogos {
  list-style: none;
  margin:0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  align-self: end;
  background-color: white;
  border-radius:15px;
}

.partnerLogos img {
  margin: 0 auto;
  /* opacity: 0.75; */
}

/* styles/utils.module.css */
@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    /* transform: scale(0.9); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.partnerLogos li {
  opacity: 0; /* Start with hidden logos */
  /* transform: scale(0.9); */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.partnerLogos li.visible {
  /* opacity: 1;
  transform: scale(1); */
  animation: fadeInScaleUp 0.5s ease forwards;
}

.partnerLogos li.visible:nth-child(1) { animation-delay: 0.1s; }
.partnerLogos li.visible:nth-child(2) { animation-delay: 0.2s; }
.partnerLogos li.visible:nth-child(3) { animation-delay: 0.3s; }
.partnerLogos li.visible:nth-child(4) { animation-delay: 0.4s; }
.partnerLogos li.visible:nth-child(5) { animation-delay: 0.5s; }
.partnerLogos li.visible:nth-child(6) { animation-delay: 0.6s; }
.partnerLogos li.visible:nth-child(7) { animation-delay: 0.7s; }
.partnerLogos li.visible:nth-child(8) { animation-delay: 0.8s; }

@media only screen and (max-width: 1280px) {
  .partnerLogos img {
    /* height: 120px; */
  }
}

@media only screen and (max-width: 500px) {
  .partnerLogos img {
    height: 150px;
  }
}

@media only screen and (max-width: 1280px) {
  .partnerLogos {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    padding: 0.25rem;
  }
}

@media only screen and (max-width: 500px) {
  .partnerLogos {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* @media only screen and (max-width: 1920px) {
  .partnerLogosContainer {
    margin-top: 73%;
  }
} */

/* @media only screen and (max-width: 1800px) {
  .partnerLogosContainer {
    margin-top: 70%;
  }
} */

/* @media only screen and (max-width: 1700px) {
  .partnerLogosContainer {
    margin-top: 65%;
  }
} */

/* @media only screen and (max-width: 1600px) {
  .partnerLogosContainer {
    margin-top: 63%;
  }
} */

/* @media only screen and (max-width: 1500px) {
  .partnerLogosContainer {
    margin-top: 59%;
  }
} */


/* @media only screen and (max-width: 1400px) {
  .partnerLogosContainer {
    margin-top: 57%;
  }
} */

/* @media only screen and (max-width: 1024px) {
  .partnerLogosContainer {
    margin-top: 67%;
  }
} */

/* @media only screen and (max-width: 800px) {
  .partnerLogosContainer {
    margin-top: 73%;
  }
} */


/* @media only screen and (max-width: 600px) {
  .partnerLogosContainer {
    grid-template-columns: 100%;
    margin-top: 80%;
  }
} */

/* @media only screen and (max-width: 500px) {
  .partnerLogosContainer {
    grid-template-columns: 100%;
    margin-top: 90%;
  }
} */

/* @media only screen and (max-width: 400px) {
  .partnerLogosContainer {
    margin-top: 100%;
  }
} */


@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    /* transform: scale(0.9); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.mainMenu {
  opacity: 0; /* Start with hidden logos */
  /* transform: scale(0.9); */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.mainMenu.visible {
  /* opacity: 1;
  transform: scale(1); */
  animation: fadeInScaleUp 0.5s ease forwards;
}

.mainMenu.visible:nth-child(1) { animation-delay: 0.1s; }
.mainMenu.visible:nth-child(2) { animation-delay: 0.2s; }
.mainMenu.visible:nth-child(3) { animation-delay: 0.3s; }
.mainMenu.visible:nth-child(4) { animation-delay: 0.4s; }
.mainMenu.visible:nth-child(5) { animation-delay: 0.5s; }
.mainMenu.visible:nth-child(6) { animation-delay: 0.6s; }

.mainMenu {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  padding: 2em;
  border: 2px solid #027cb2;
  margin: 0.5em;
  letter-spacing:0.2em;
  border-radius:60px;
  transition: all 0.5s;
}

.mainMenu:hover {
  background-color: #027cb2;
  color: white;
}

.mainMenu:active {
  background-color: #035977;
  border-color:#035977;
  color: white;
}


@media only screen and (max-width: 1024px) {
  .mainMenu {
    padding: 1em;
    font-size: 1rem;
  }
}

.MenuParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.MenuParentChildren {
  border-bottom: 1px solid rgba(175,173,173,0.5);
}

.scrolledNav {
  border-bottom: 1px solid rgba(175,173,173,0.5);
}

@media only screen and (max-width: 1024px) {
  .MenuParent {
    display: none;
  }
}

.Menulink {
  padding: 1rem;
  text-align: center;
/*  width: 12.5%;*/
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #383838;
}

@media only screen and (max-width: 1200px) {
  .Menulink {letter-spacing: 0;}
}

.Menulink:hover {
  background-color: #027cb2;
  color: white;
}

.Menulink:active {
  background-color: #035977;
  color: white;
}

.collabMenulink {
  border: 0;
  background-color: #027cb2;
  transition: all 0.5s;
  cursor: pointer;
  line-height: 0;
  padding: 1.25rem 0.75rem;
  color: white;
  border-radius: 30px;
  height: 40px;
  margin-top: 6px;
  margin-right: 6px;
  font-size: 0.7rem;
}

.Menulink.collabMenulink:hover {
  background-color: #2fbcfa;
}

.Menulink.collabMenulink:active {
  background-color: #035977;
}

.Menulink.collabMenulink.activeCollab {
  background-color: #383838;
  cursor: auto;
}

.Menuhome {
  border-radius: 0;
  position: relative;
  display: inline-block;
  top: 4px;
  left: 4px;
  height: 50px;
}

.Menuhome:hover {
  transition: all 0.75s;
  opacity: 0.83;
/*    scale: 1.05;*/
}

.centerText {
  text-align: center;
}

.blog {
  margin: 0 auto;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .blog {
    width: 100%;
  }
}

.video {
  text-align: center;
  margin: 0 auto;
}

.pdf {
  max-width: 100%;
  border-radius: 1px solid;
}

.strong {
  font-weight: 700;
}

.launch {
  display: inline-block;
/*  float: right;*/
  height: 24px;
  width: 24px;
  background-size: 100%;
  background-image: url('../public/launchico.svg');
  color: transparent;
  border-radius: 0;
  transition: none;
  position: relative;
  top: 3px;
  text-indent: -3000px;
}

.launch:hover {
  color: transparent;
  background-position-y: -24px;
  transition: none;
}

@media only screen and (max-width: 1024px) {
  .launch {
    display: block;
     height: 20px;
     width: 20px;
     top: 0;
  }
  .launch:hover {
    background-position-y: -20px;
  }
}

@media only screen and (max-width: 400px) {
    .launch {
     
  }
}

.datePortfolio {
    margin-top: -1.5em;
    font-size: 0.8em;
    color: white;
    background-color: #383838;
    padding: 0 0.3em 0.1em 0.3em;
    border-radius: 5px 0 5px 0;
}

.header3Portfolio {
    margin-block-end: 0;
    margin-block-start: 0;
    text-transform: uppercase;
}

.descriptionPortfolio {
  margin-block-start: 0;
}

.logoHome {
/*  margin-top: 2rem;
  opacity: 1;*/
  transition: 0.5s;
  scale: 1;
}

.logoHome:hover {
  opacity: 0.83;
  scale: 1.07;
  transition: 0.5s;
}

.logo {
    margin: 1rem auto 0;
}

.galleryMenuConatiner {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.galleryMenuConatiner h1 {
  margin-bottom: 0;
}

.aboutMeContainer {
  max-width: 80rem;
  margin: auto;
  margin-top: 4rem;
}

.aboutMe {
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .aboutMe {
    display: block;
  }  
}

.aboutMeImgContainer {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-image: url('../public/images/portfolio-pic.svg');
  background-position: center;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .aboutMeImgContainer {
    width: 100%;
  }
}

.aboutMeContainer h1 {
  margin-bottom: 0;
}

.aboutMeDescipt {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .aboutMeDescipt {
    width: 100%;
  }
}

.aboutMeSummary {
  font-size: 1.2em;
}

@media only screen and (max-width: 900px) {
  .aboutMeSummary {
    font-size: 1em;
    letter-spacing: 0em;
  }
}

.caseStudiesContainer {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.caseStudiesContainer h1 {
  margin-bottom: 0;
}

.caseStudies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  padding: 0.25rem;
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}

@media only screen and (max-width: 900px) {
  .caseStudies {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
  }
}

.caseStudy {
  display: block;
  padding: 1rem;
  border-radius: 15px;
  height: 400px;
  background-size: 140%;
  background-position: top center;
}

@media only screen and (max-width: 900px) {
  .caseStudy {
    height: 260px;
    background-size: 145%;
  }
}

.caseStudy:hover {
  background-size: 145%;
}

.caseStudy:first-child {
  background-image: url('/images/case-studies/mwo-product-img-sm-case-study1.webp');
}

.caseStudy:last-child {
  background-image: url('/images/case-studies/mechcon-img-sm-case-study2.webp');
}

.caseStudies h3 {
  margin-top: 0;
  /* position: absolute;
  bottom: 0; */
  color: white;
}

.backToBtn {
  display: inline-block;
}